<!-- START Top Navbar-->
<nav class="navbar topnavbar" role="navigation">
    <!-- START navbar header-->
    <div class="navbar-header">
        <a class="navbar-brand" href="#/">
            <div class="brand-logo">
                <label class="img-responsive" alt="App Logo" style="color: white;margin-top: 5px">环球雅思 Sa教辅系统</label>
            </div>
            <div class="brand-logo-collapsed">
                <img class="img-responsive" src="assets/img/logo-single.png"  />
            </div>
        </a>
    </div>
    <!-- END navbar header-->


    <!-- START Nav wrapper-->
    <div class="nav-wrapper">
        <!-- START Left navbar-->
        <ul class="nav navbar-nav">
            <li>
                <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
                <a class="hidden-xs" trigger-resize="" (click)="toggleCollapsedSideabar()" *ngIf="!isCollapsedText()">
                    <em class="fa fa-navicon"></em>
                </a>
                <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
                <a class="visible-xs sidebar-toggle" (click)="settings.layout.asideToggled =! settings.layout.asideToggled">
                    <em class="fa fa-navicon"></em>
                </a>
            </li>
            <!-- START User avatar toggle-->
            <!--<li>-->
                <!--&lt;!&ndash; Button used to collapse the left sidebar. Only visible on tablet and desktops&ndash;&gt;-->
                <!--<a (click)="toggleUserBlock($event)">-->
                    <!--<em class="icon-user"></em>-->
                <!--</a>-->
            <!--</li>-->
            <!--&lt;!&ndash; END User avatar toggle&ndash;&gt;-->
            <!--&lt;!&ndash; START lock screen&ndash;&gt;-->
            <!--<li>-->
                <!--<a  title="Lock screen" [routerLink]="'/lock'">-->
                    <!--<em class="icon-lock"></em>-->
                <!--</a>-->
            <!--</li>-->
            <!-- END lock screen-->
        </ul>
        <!-- END Left navbar-->

        <!-- START Right Navbar-->
        <ul class="nav navbar-nav navbar-right">
            <!-- Search icon-->
            <li style=" margin-top: 15px">
                <!--<a (click)="openNavSearch($event)">-->
                    <!--<em class="icon-magnifier"></em>-->
                <!--</a>-->
                用户：<label>18688888888</label>
            </li>
            <!-- Fullscreen (only desktops)-->
            <!--<li class="visible-lg">-->
                <!--<a #fsbutton (click)="toggleFullScreen($event)">-->
                    <!--退出-->
                <!--</a>-->
            <!--</li>-->
            <!-- START Alert menu-->
            <li class="dropdown dropdown-list" dropdown>
                <a dropdownToggle>
                    <em class="icon-logout"></em>
                </a>
                <!-- START Dropdown menu-->
                <!--<ul *dropdownMenu class="dropdown-menu animated flipInX">-->
                    <!--<li>-->
                        <!--&lt;!&ndash; START list group&ndash;&gt;-->
                        <!--<div class="list-group">-->
                            <!--&lt;!&ndash; list item&ndash;&gt;-->
                            <!--<a class="list-group-item">-->
                                <!--<div class="media-box">-->
                                    <!--<div class="pull-left">-->
                                        <!--<em class="fa fa-twitter fa-2x text-info"></em>-->
                                    <!--</div>-->
                                    <!--<div class="media-box-body clearfix">-->
                                        <!--<p class="m0">New followers</p>-->
                                        <!--<p class="m0 text-muted">-->
                                            <!--<small>1 new follower</small>-->
                                        <!--</p>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--&lt;!&ndash; list item&ndash;&gt;-->
                            <!--<a class="list-group-item">-->
                                <!--<div class="media-box">-->
                                    <!--<div class="pull-left">-->
                                        <!--<em class="fa fa-envelope fa-2x text-warning"></em>-->
                                    <!--</div>-->
                                    <!--<div class="media-box-body clearfix">-->
                                        <!--<p class="m0">New e-mails</p>-->
                                        <!--<p class="m0 text-muted">-->
                                            <!--<small>You have 10 new emails</small>-->
                                        <!--</p>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--&lt;!&ndash; list item&ndash;&gt;-->
                            <!--<a class="list-group-item">-->
                                <!--<div class="media-box">-->
                                    <!--<div class="pull-left">-->
                                        <!--<em class="fa fa-tasks fa-2x text-success"></em>-->
                                    <!--</div>-->
                                    <!--<div class="media-box-body clearfix">-->
                                        <!--<p class="m0">Pending Tasks</p>-->
                                        <!--<p class="m0 text-muted">-->
                                            <!--<small>11 pending task</small>-->
                                        <!--</p>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--&lt;!&ndash; last list item&ndash;&gt;-->
                            <!--<a class="list-group-item">-->
                                <!--<small translate="topbar.notification.MORE">More notifications</small>-->
                                <!--<span class="label label-danger pull-right">14</span>-->
                            <!--</a>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; END list group&ndash;&gt;-->
                    <!--</li>-->
                <!--</ul>-->
                <!-- END Dropdown menu-->
            </li>
            <!-- END Alert menu-->
            <!-- START Offsidebar button-->
            <!--<li>-->
                <!--<a (click)="toggleOffsidebar()">-->
                    <!--&lt;!&ndash;<em class="icon-notebook"></em>&ndash;&gt;-->
                    <!--切换用户-->
                <!--</a>-->
            <!--</li>-->
            <!-- END Offsidebar menu-->
        </ul>
        <!-- END Right Navbar-->
    </div>
    <!-- END Nav wrapper-->

    <app-navsearch [visible]="getNavSearchVisible()" (onclose)="setNavSearchVisible(false)"></app-navsearch>

</nav>
<!-- END Top Navbar-->
