
<div class="calendar-app">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <!-- START calendar-->
                    <div #fullcalendar class="calendar"></div>
                </div>
            </div>
        </div>
    </div>
</div>
