<div class="main-container ">

   <div class="resell-container">
      <div class="resell-title-container">
      <!--<div class="btn-group schedule-dropdown" dropdown>
         <button class="btn btn-default" dropdownToggle>全部物理班    <b class="caret"></b>
         </button>
         <ul *dropdownMenu class="dropdown-menu animated bounce" role="menu">
            <li><a href="#">Action</a>
            </li>
            <li><a href="#">Another action</a>
            </li>
            <li><a href="#">Something else here</a>
            </li>
            <li><a href="#">Separated link</a>
            </li>
         </ul>
      </div> -->
      <!--<div class="btn-group schedule-dropdown" dropdown>
         <button class="btn btn-default" dropdownToggle>全部物理班    <b class="caret"></b>
         </button>
         <ul *dropdownMenu class="dropdown-menu animated bounce" role="menu">
            <li><a href="#">Action</a>
            </li>
            <li><a href="#">Another action</a>
            </li>
            <li><a href="#">Something else here</a>
            </li>
            <li><a href="#">Separated link</a>
            </li>
         </ul>
      </div>-->
      <!--<div class="btn-group schedule-dropdown" dropdown>
         <button class="btn btn-default" dropdownToggle>全部物理班    <b class="caret"></b>
         </button>
         <ul *dropdownMenu class="dropdown-menu animated bounce" role="menu">
            <li><a href="#">Action</a>
            </li>
            <li><a href="#">Another action</a>
            </li>
            <li><a href="#">Something else here</a>
            </li>
            <li><a href="#">Separated link</a>
            </li>
         </ul>
         </div>-->
         <div class="col-sm-1 resell-col-sm-1">
            <select class="form-control resell-form-control">
               <option value="">Nothing</option>
               <option value="1">Option 1</option>
               <option value="2">Option 2</option>
               <option value="3">Option 3</option>
               <option value="4">Option 4</option>
            </select>
         </div>
         <div class="col-sm-1 resell-col-sm-1">
            <select class="form-control resell-form-control">
               <option value="">Nothing</option>
               <option value="1">Option 1</option>
               <option value="2">Option 2</option>
               <option value="3">Option 3</option>
               <option value="4">Option 4</option>
            </select>
         </div>
         <div class="col-sm-1 resell-col-sm-1">
            <select class="form-control resell-form-control">
               <option value="">Nothing</option>
               <option value="1">Option 1</option>
               <option value="2">Option 2</option>
               <option value="3">Option 3</option>
               <option value="4">Option 4</option>
            </select>
         </div>
         <label> 上课时间:</label>
         <input class="input-text-box " type="date" placeholder="年/月/日">
         <input class="input-text-box " type="date" placeholder="年/月/日">
         <label> <input type="radio" name="optionsRadio" value="班级" checked/>班级</label>
         <label> <input type="radio" name="optionsRadio" value="学员"/>学员</label>
         <span class="sell-search-group">
            <input type="text" placeholder="搜索"/>
            <button>搜索</button>
         </span> 
      </div>
      <div class="panel panel-default all-border">
         <div class="panel-body ">
            <div class="table-responsive">
               <table class=" table table-striped table-bordered table-hover">
                  <thead>
                     <tr>
                        <th>姓名</th>
                        <th>物理班</th>
                        <th>班级人数</th>
                        <th>已上课时/总课时</th>
                        <th>开班日期</th>
                        <th>结班日期</th>
                        <th>学员类型</th>
                        <th>第一周回访</th>
                        <th>一阶回访</th>
                        <th>二阶回访</th>
                        <th>模考回访</th>
                        <th>其他回访</th>
                        <th>sa负责人</th>
                     </tr>
                  </thead>

                  <tr *ngFor="let reselldata of reselldatas">
                        <td>{{reselldata.name}}</td>
                        <td>{{reselldata.className}}</td>
                        <td>{{reselldata.studentNumber}}</td>
                        <td>{{reselldata.progress}}</td>
                        <td>{{reselldata.startDate}}</td>
                        <td>{{reselldata.endDate}}</td>
                        <td>{{reselldata.studentType}}</td>
                        <td>{{reselldata.backVisit1}}</td>
                        <td>{{reselldata.backVisit2}}</td>
                        <td>{{reselldata.backVisit3}}</td>
                        <td>{{reselldata.examVisit}}</td>
                        <td>{{reselldata.otherVisit}}</td>
                        <td>{{reselldata.saName}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>

      </div>
   </div>
</div>