<div>面包器</div>
<div>{{physicsClassName}}</div>
<div class="panel panel-default all-border">
    <div class="panel-body ">
        <div class="table-responsive">
            <table class=" table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>姓名</th>
                    <th>状态</th>
                    <th>班级名称</th>
                    <th>班级号码</th>
                    <th>剩余/已报课时</th>
                    <th>学员类型</th>
                    <th>教学进度</th>
                    <th>辅导课程</th>
                    <th>上机练习</th>
                    <th>阶段模考</th>
                    <th>访谈记录</th>
                </tr>
                </thead>
                <tr *ngFor="let classroom of classdatas">
                    <td>{{classroom.name}}</td>
                    <td>{{classroom.status}}</td>
                    <td>{{classroom.physicsName}}</td>
                    <td>{{classroom.physicsnumber}}</td>
                    <td>{{classroom.useringclass}}</td>
                    <td>{{classroom.studenttype}}</td>
                    <td>{{classroom.teaching}}</td>
                    <td>{{classroom.coaching}}</td>
                    <td>{{classroom.operating}}</td>
                    <td>{{classroom.mockexam}}</td>
                    <td>{{classroom.returnvisit}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div style="padding-top: 10px">
    <app-calendar ></app-calendar>
</div>
<div style="padding-top: 10px">
    <div>
        <label style="padding-right: 15px">提醒</label>
        <label style="padding-right: 15px">待办2</label>
        <label style="padding-right: 15px">逾期4</label>
    </div>
    <div class="panel panel-default all-border">
        <div class="panel-body ">
            <div class="table-responsive">
                <table class=" table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th style="width: 8%">状态</th>
                        <th style="width: 20%">时间</th>
                        <th style="width: 15%">类型</th>
                        <th style="width: 30%">简述</th>
                        <th style="width: 15%">学员</th>
                        <th style="width: 12%">编辑</th>

                    </tr>
                    </thead>
                    <tr *ngFor="let classroom of classdatas">
                        <td>{{classroom.status}}</td>
                        <td>{{classroom.physicsName}}</td>
                        <td>{{classroom.physicsnumber}}</td>
                        <td>{{classroom.useringclass}}</td>
                        <td>{{classroom.studenttype}}</td>
                        <td>{{classroom.teaching}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
