<div class="wrapper">
    <app-custom-sidebar class="aside"></app-custom-sidebar>
    <section>
        <!-- Page content-->
        <div class="content-wrapper">
            <router-outlet></router-outlet>
        </div>
    </section>
</div>