<div class="home-container">
   <div class="schedule-title-container">
      <label> 课表页面</label>
      <div class="btn-group schedule-dropdown" dropdown>
         <button class="btn btn-default" dropdownToggle>全部物理班    <b class="caret"></b>
         </button>
         <ul *dropdownMenu class="dropdown-menu animated bounce" role="menu">
            <li><a href="#">Action</a>
            </li>
            <li><a href="#">Another action</a>
            </li>
            <li><a href="#">Something else here</a>
            </li>
            <li><a href="#">Separated link</a>
            </li>
         </ul>
      </div>
   </div>

      <!-- END button group-->
   <app-calendar></app-calendar>
</div>