@import '../../../shared/styles/app/variables';
@import '../../../shared/styles/app/media-queries';

.home-container {
    margin: 0 auto;
    max-width:100%;

    .home-logo {
        width: 240px;
    }

    .home-text {
        @media only screen and (max-width: $mq-tablet) {
            text-align: center;
        }
    }
}
.schedule-dropdown{
    float: right;
    margin-right: 2px;
}
.schedule-title-container{
    width: 100%;
    height: 40px;
}
