<div class="wrapper">
    <!-- top navbar-->
    <!--<app-header class="topnavbar-wrapper"></app-header>-->
    <!--&lt;!&ndash; offsidebar&ndash;&gt;-->
    <!--<app-offsidebar class="offsidebar"></app-offsidebar>-->
    <!--&lt;!&ndash; Main section&ndash;&gt;-->
    <section>
        <!-- Page content-->
        <div class="content-wrapper">
            <router-outlet></router-outlet>
        </div>
    </section>
    <!-- Page footer-->
    <footer app-footer></footer>
</div>