<div style="padding-bottom: 10px;">
    <div class="col-sm-1 resell-col-sm-1">
        <select class="form-control resell-form-control">
            <option *ngFor="let state of classState" value="">{{state}}</option>
        </select>
    </div>
    <label style="padding-left: 10px;"> 上课时间:</label>
    <input class="input-text-box " type="date" placeholder="年/月/日">
    <label>  ~  </label>
    <input class="input-text-box " type="date" placeholder="年/月/日">
    <span class="sell-search-group">
        <input type="text" placeholder="搜索"/>
        <button>搜索</button>
     </span>
</div>
<!--<div class="panel panel-default all-border">-->
    <!--<div class="panel-body ">-->
        <!--<div class="table-responsive">-->
            <!--<table class=" table table-striped table-bordered table-hover">-->
                <!--<thead>-->
                <!--<tr>-->
                    <!--<th>物理班号</th>-->
                    <!--<th>状态</th>-->
                    <!--<th>班级号码</th>-->
                    <!--<th>开班日期-结班日期</th>-->
                    <!--<th>人数</th>-->
                    <!--<th>剩余课时/总课时</th>-->
                    <!--<th>教学</th>-->
                    <!--<th>辅导</th>-->
                    <!--<th>上机</th>-->
                    <!--<th>模考</th>-->
                    <!--<th>访谈</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tr *ngFor="let classroom of classrooms">-->
                    <!--<td>{{classroom.physicsnumber}}</td>-->
                    <!--<td>{{classroom.status}}</td>-->
                    <!--<td>{{classroom.classnumber}}</td>-->
                    <!--<td>{{classroom.time}}</td>-->
                    <!--<td>{{classroom.studentnumber}}</td>-->
                    <!--<td>{{classroom.progress}}</td>-->
                    <!--<td>{{classroom.teaching}}</td>-->
                    <!--<td>{{classroom.coaching}}</td>-->
                    <!--<td>{{classroom.operating}}</td>-->
                    <!--<td>{{classroom.mockexam}}</td>-->
                    <!--<td>{{classroom.returnvisit}}</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->
    <!--</div>-->

<!--</div>-->

<div class="panel panel-default">
    <table class="table table-striped" [mfData]="classrooms" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
        <tr>
            <th>物理班号</th>
            <th>状态</th>
            <th>班级号码</th>
            <th>开班日期-结班日期</th>
            <th>人数</th>
            <th>剩余课时/总课时</th>
            <th>教学</th>
            <th>辅导</th>
            <th>上机</th>
            <th>模考</th>
            <th>访谈</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let class of mf.data">
            <td>{{class.physicsnumber}}</td>
            <td>{{class.status}}</td>
            <td>{{class.classnumber}}</td>
            <td>{{class.time}}</td>
            <td>{{class.studentnumber}}</td>
            <td>{{class.progress}}</td>
            <td>{{class.teaching}}</td>
            <td>{{class.coaching}}</td>
            <td>{{class.operating}}</td>
            <td>{{class.mockexam}}</td>
            <td>{{class.returnvisit}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
            </td>
        </tr>
        </tfoot>
    </table>
</div>