@import '../../../shared/styles/app/variables';
@import '../../../shared/styles/app/media-queries';

.main-container {
  margin: 0 auto;
  max-width: 100%;
  .home-logo {
    width: 240px;
  }

  .home-text {
    @media only screen and (max-width: $mq-tablet) {
      text-align: center;
    }
  }
}
.resell-title-container{
  padding: 5px;
  margin: 5px;
  width: 100%;
  height: 40px;
}
.input-text-box {
  box-shadow: 0 0 0 #000 !important;
  width: auto;
  height: auto;
}
.resell-container{
  padding-top: 10px;
  width: 100%;
  min-height: 700px;
  margin: 5px;
  border-width:1px ;
  border-color: #000000;
  border-style:solid;
}
.all-border{
  margin: 5px;
  border-width:1px ;
  border-color: #c0c0c0;
  border-style:solid;
}
.sell-search-group{
  float: right;
  width: 20%;
  height: 30px;
}
.resell-col-sm-1 {
  width: 10%;
  height: 30px;
  position: relative;
  min-height: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
.resell-form-control{
  height: 30px;
}
